.todoItem {
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #ffffff;
    background: rgb(138, 133, 228);
    background: linear-gradient(
        135deg,
        rgba(138, 133, 228, 1) 0%,
        rgba(41, 195, 183, 1) 50%,
        rgba(105, 172, 109, 1) 100%
    );
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 7px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 100px;

    &.done {
        background: rgb(0, 255, 38);
        background: linear-gradient(135deg, rgba(0, 255, 38, 1) 0%, rgba(7, 190, 77, 1) 50%, rgba(0, 80, 8, 1) 100%);
    }

    &.inProgress {
        background: rgb(220, 221, 1);
        background: linear-gradient(
            135deg,
            rgba(220, 221, 1, 1) 0%,
            rgba(176, 180, 4, 1) 50%,
            rgba(134, 135, 5, 1) 100%
        );
    }

    &.failed {
        background: rgb(221, 34, 1);
        background: linear-gradient(135deg, rgba(221, 34, 1, 1) 0%, rgba(176, 14, 8, 1) 50%, rgba(87, 0, 12, 1) 100%);
    }
}

.date {
    font-size: 10px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.top {
    display: flex;
    justify-content: space-between;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.button {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    background-size: 100%;
    cursor: pointer;
    opacity: 0.3;

    &:focus {
        outline: none;
    }

    &.active {
        opacity: 1;
    }

    &.done {
        background-image: url(../../image/icons/ok-circle.svg);
    }

    &.inProgress {
        background-image: url(../../image/icons/alarm.svg);
    }

    &.failed {
        background-image: url(../../image/icons/cancel.svg);
    }

    &.edit {
        background-image: url(../../image/icons/edit.svg);
    }

    &.delete {
        background-image: url(../../image/icons/close.svg);
    }
}
