.todo-form {
    display: flex;
    width: 300px;
    margin-top: 50px;
    justify-content: space-between;
    height: 30px;
    position: relative;
}
  
.todo-form button {
    background-color: ghostwhite;
    border: 1px solid #aaa;
    width: 70px;
    border-radius: 4px;
}
  
.todo-form input {
    border: 1px solid #aaa;
    border-radius: 4px;
    width: 220px;
    padding-left: 10px;
    margin-top: 0;
}
  
.todo-form input:focus {
    outline: none;
}
  
.todo-form input.error{
    border: 1px solid red;
}
  
.todo-form__error {
    position: absolute;
    top: 33px;
    font-size: 10px;
    left: 13px;
    color: red;
    display: none;
}
  
.todo-form__error.active {
    display: block;
}

@media (min-width: 630px) {
    .todo-form {
      width: 400px;
    }
  
    .todo-form button {
      width: 80px;
    }
  
    .todo-form input {
      width: 300px;
    }
}
  
  